#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: royalblue;
  padding-top: 25px;
  height: 90px;
  width: 100%;
  margin-top: 80px;
}

.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catsLogo {
  margin-left: 25px;
  font-size: 1rem;
  color: peachpuff;
  font-weight: bold;
}

.socialMedia {
  font-size: 2rem;
  margin: 2rem 3rem;
  color: peachpuff;
  text-align: center;
}