@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
* {
  margin: 0;
  padding: 0;  
}

.title{
  background: linear-gradient(to right, royalblue, peachpuff) ;
  font-family: 'Fascinate', cursive;
  font-size: 3rem;

}

.navbarContainer {
  background-color: royalblue;
  width: 100%;
  display: flex;
  flex-direction: center;
  justify-content: space-between;
  line-height: 30px;
}

.shoppingContainer {
  margin-top: 25px;
  margin-right: 50px;
}

.titleContainer {
  margin-top: 25px;
  margin-left: 50px;
}


.keepShopping {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: cursive;
  cursor: pointer;
}

.keepShopping:hover{
  color: peachpuff;
  font-size: 1.1rem;
}

.Basket {
  cursor: pointer;  
}

.Basket span:nth-child(1) {  
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.Basket span:nth-child(1):hover{
  font-size: 2.1rem;
  color: peachpuff;
}

.Basket span:nth-child(2) {
  padding: 0 3px;
  background-color: royalblue;
  color: peachpuff;
  font-weight: bolx;
  border-radius: 5px;
  position: relative;
  top: -15px;
}