section {
  border-radius: 360px;
  background: url("https://i.pinimg.com/originals/a1/04/d3/a104d36955c78f0e7e857ce85965c0df.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  width: 90%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.cat-cards {
  width: 250px;
  padding: 20px;
}

.cards:hover {
  box-shadow: 0 10px 10px 10px rbga(0, 0, 0, 1);
  cursor: pointer;
}
.catPhoto img {
  display: flex;
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgba(0,0,0, 0.5);
  border-color: pink;
  border-width: 10px;
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.info p:nth-child(1) {
  font-weight: bold;
}
.info p:nth-child(2) {
  color: royalblue;
  font-size: 0.8rem;
  font-weight: 450;
}
.info p:nth-child(3) {
  font-weight: bolx;
  color: royalblue;
  font-weight: 700;
}
.info button {
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  background-color: skyblue;
  outline: none;
}
